.to-do-list {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    margin: 100px;
    text-align: center;
}

h1 {
    font-size: 3rem;
    color: green;
}

button{
    font-size: 20px;
    font-weight: bold;
    padding:10px 20px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
    margin-right: 5px;
}

.input-container {
    display: inline-block;
    font-size: 2rem;
    text-align: center;
    align-items: center;
    border: none;
    border-bottom: 1px solid grey;
}

.insert-button{
    background-color: rgb(188, 185, 185);
}

.insert-button:hover{
    background-color: rgb(128, 123, 123);
}

.remove-task{
    background-color: Red;
    color: white;
}

.remove-task:hover{
    background-color: rgb(125, 8, 8);
}

.shift-task {
    background-color: rgb(0, 217, 255);
}


.shift-task:hover {
    background-color: rgb(8, 110, 128);
}


.listItem{
    font-size: 30px;
    padding: 10px;
    border: 1px grey solid;
    margin-bottom: 5px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.text {
    flex: 1;
}